IDI_ICON1 ICON "resources/app-icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,1,1,0
PRODUCTVERSION  0,1,1,0
FILEFLAGSMASK   0x3F
FILEOS          0x40004
FILETYPE        0x1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "Zane"
            VALUE "FileDescription", "Zane Tool"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "ZaneTool"
            VALUE "LegalCopyright", "Internal Tool"
            VALUE "OriginalFilename", "ZaneTool.exe"
            VALUE "ProductName", "Zane Tool"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
